<script setup>
import { useAuthStore } from '../stores/auth'
const authStore = useAuthStore();
</script>
<template>
    <nav class="navbar navbar-expand-lg bg-danger">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Videojuegos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" v-if="authStore.user">
        <li class="nav-item px-lg-5 h4">
            {{ authStore.user.name }}
        </li>
        <li class="nav-item px-lg-5">
            <RouterLink to="/sucursales" class="nav-link">Sucursales</RouterLink>
        </li>
        <li class="nav-item px-lg-5">
            <RouterLink to="/clientes" class="nav-link">Clientes</RouterLink>
        </li>
        <li class="nav-item px-lg-5">
            <RouterLink to="/graphic" class="nav-link">Graphic</RouterLink>
        </li>
        <li class="nav-item px-lg-5">
            <RouterLink to="/reports" class="nav-link">Reports</RouterLink>
        </li>
      </ul>
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0" v-if="authStore.user">
        <li class="nav-item px-lg-5">
            <button @click="$event => authStore.logout" class="btn btn-danger">Salir</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
</template>