<script setup>
import {ref,onMounted} from 'vue';
import { confirmation } from '../../functions';
import { useAuthStore } from '../../stores/auth';
import axios from 'axios';
const authStore = useAuthStore();
axios.defaults.headers.common['Authorization'] = 'Bearer '+authStore.authToken;
onMounted(()=>{getSucursales()});
const sucursales=ref([]);
const load = ref(false);
const getSucursales = async()=>{
    await axios.get('/api/sucursales').then(  //posible error
    response=>(sucursales.value = response.data))
    load.value=true;
}
const deleteSucursal = (idSucursal,nombre_sucursal)=>{ //posible error
    confirmation(nombre_sucursal,('/api/sucursales/'+idSucursal),'/sucursales'); //posible error
}
</script>
<template>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="d-grid col-10 mx-auto">
                <router-link :to="{ path:'create'}" class="btn btn-dark"> 
                    <i class="fa-solid fa-circle-plus"></i> Add
                </router-link>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6 offset-md-3">
            <div class="card border border-white text-center" v-if="!load">
            <div class="card-body">
                <img src="/loading.gif" class="img-fluid">
            </div>
            </div>
            <div class="table-responsive" v-else>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Sucursal</th>
                        <th>Ubicacion</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr v-for="dep,i in sucursales" :key="dep.idSucursal"> 
                        <td>{{ (i+1) }}</td>
                        <td>{{ (dep.nombre_sucursal) }}</td>
                        <td>{{ (dep.ubicacion) }}</td>
                        <td>
                            <router-link :to="{path:'edit/'+dep.idSucursal }" 
                            class="btn btn-warning">
                                <i class="fa-solid fa-edit"></i>
                            </router-link>
                        </td>
                        <td>
                            <button class="btn btn-danger"
                            @click="deleteSucursal(dep.idSucursal,dep.nombre_sucursal)">
                            <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</template>